<div th:fragment="_left" class="sidebar">
    <ul id="nav">
        <li><a href="/index" class="left_status_index"><i class="icon-home"></i> 首页</a> </li>
        <li class="has_sub"><a href="#" class="left_status_system"><i class="icon-cogs"></i> 系统管理 <span class="pull-right"><i
                class="icon-chevron-right"></i></span></a>
            <ul>
                <li><a href="/system/user">用户管理</a></li>
                <li><a href="/system/role">角色管理</a></li>
            </ul>
        </li>
    </ul>
</div>